<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPayslipLabel" jhiTranslate="niftyappApp.payslip.home.createOrEditLabel">Create or edit a Payslip</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payslip.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payslip.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.payslip.payPeriod" for="field_payPeriod">Pay Period</label>
            <div class="input-group">
                <input id="field_payPeriod" type="text" class="form-control" name="payPeriod" ngbDatepicker  #payPeriodDp="ngbDatepicker" [(ngModel)]="payslip.payPeriod"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="payPeriodDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.payPeriod?.dirty && editForm.controls.payPeriod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.payPeriod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="niftyappApp.payslip.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="payslip.employeeId" >
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">[{{employeeOption.id}}] {{employeeOption.firstName}} {{employeeOption.lastName}} ({{employeeOption.employeeNumber}})</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="niftyappApp.payslip.action.create">Save</span>
        </button>
    </div>
</form>
