
<div *ngIf="payslip">
    <h2><span jhiTranslate="niftyappApp.payslip.detail.title">Payslip</span> {{payslip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="niftyappApp.payslip.payPeriod">Pay Period</span></dt>
        <dd>
            <span>{{payslip.payPeriod | date:'MMM yyyy'}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.payslip.grossIncome">Gross Income</span></dt>
        <dd>
            <span>{{payslip.grossIncome}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.payslip.incomeTax">Income Tax</span></dt>
        <dd>
            <span>{{payslip.incomeTax}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.payslip.netIncome">Net Income</span></dt>
        <dd>
            <span>{{payslip.netIncome}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.payslip.pension">Pension</span></dt>
        <dd>
            <span>{{payslip.pension}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.payslip.employee">Employee</span></dt>
        <dd>
            <div *ngIf="payslip.employeeId">
                <a [routerLink]="['/employee-nifty', payslip.employeeId]">{{payslip.displayName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
