<div>
    <h2>
        <span jhiTranslate="niftyappApp.payslip.home.title">Payslips</span>
        <button class="btn btn-primary float-right create-payslip-nifty" [routerLink]="['/', { outlets: { popup: ['payslip-nifty-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="niftyappApp.payslip.home.createLabel">
            Create new Payslip
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'niftyappApp.payslip.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="payslips">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="payPeriod"><span jhiTranslate="niftyappApp.payslip.payPeriod">Pay Period</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="niftyappApp.payslip.employee">Employee</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grossIncome"><span jhiTranslate="niftyappApp.payslip.grossIncome">Gross Income</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="incomeTax"><span jhiTranslate="niftyappApp.payslip.incomeTax">Income Tax</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="netIncome"><span jhiTranslate="niftyappApp.payslip.netIncome">Net Income</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pension"><span jhiTranslate="niftyappApp.payslip.pension">Pension</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let payslip of payslips ;trackBy: trackId">
                <td><a [routerLink]="['../payslip-nifty', payslip.id ]">{{payslip.id}}</a></td>
                <td>{{payslip.payPeriod | date:'MMM yyyy'}}</td>
                <td>
                    <div *ngIf="payslip.employeeId">
                        <a [routerLink]="['../employee-nifty', payslip.employeeId  ]" >{{payslip.displayName}}</a>
                    </div>
                </td>
                <td>{{payslip.grossIncome}}</td>
                <td>{{payslip.incomeTax}}</td>
                <td>{{payslip.netIncome}}</td>
                <td>{{payslip.pension}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payslip-nifty', payslip.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
