<div>
    <h2>
        <span jhiTranslate="niftyappApp.employee.home.title">Employees</span>
        <button class="btn btn-primary float-right create-employee-nifty" [routerLink]="['/', { outlets: { popup: ['employee-nifty-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="niftyappApp.employee.home.createLabel">
            Create new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'niftyappApp.employee.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="niftyappApp.employee.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="niftyappApp.employee.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employeeNumber"><span jhiTranslate="niftyappApp.employee.employeeNumber">Employee Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="niftyappApp.employee.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="niftyappApp.employee.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="niftyappApp.employee.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="terminationDate"><span jhiTranslate="niftyappApp.employee.terminationDate">Termination Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salary"><span jhiTranslate="niftyappApp.employee.salary">Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pensionContribution"><span jhiTranslate="niftyappApp.employee.pensionContribution">Pension Contribution</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="primaryLanguage"><span jhiTranslate="niftyappApp.employee.primaryLanguage">Primary Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="secondaryLanguage"><span jhiTranslate="niftyappApp.employee.secondaryLanguage">Secondary Language</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td><a [routerLink]="['../employee-nifty', employee.id ]">{{employee.id}}</a></td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.employeeNumber}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.startDate | date:'mediumDate'}}</td>
                <td>{{employee.terminationDate | date:'mediumDate'}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.pensionContribution}}</td>
                <td jhiTranslate="{{'niftyappApp.Language.' + employee.primaryLanguage}}">{{employee.primaryLanguage}}</td>
                <td jhiTranslate="{{'niftyappApp.Language.' + employee.secondaryLanguage}}">{{employee.secondaryLanguage}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee-nifty', employee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-nifty/'+ employee.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-nifty/'+ employee.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
