
<div *ngIf="employee">
    <h2><span jhiTranslate="niftyappApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="niftyappApp.employee.firstName">First Name</span></dt>
        <dd>
            <span>{{employee.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.lastName">Last Name</span></dt>
        <dd>
            <span>{{employee.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.employeeNumber">Employee Number</span></dt>
        <dd>
            <span>{{employee.employeeNumber}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.email">Email</span></dt>
        <dd>
            <span>{{employee.email}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{employee.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.startDate">Start Date</span></dt>
        <dd>
            <span>{{employee.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.terminationDate">Termination Date</span></dt>
        <dd>
            <span>{{employee.terminationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.salary">Salary</span></dt>
        <dd>
            <span>{{employee.salary}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.pensionContribution">Pension Contribution</span></dt>
        <dd>
            <span>{{employee.pensionContribution}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.primaryLanguage">Primary Language</span></dt>
        <dd>
            <span jhiTranslate="{{'niftyappApp.Language.' + employee.primaryLanguage}}">{{employee.primaryLanguage}}</span>
        </dd>
        <dt><span jhiTranslate="niftyappApp.employee.secondaryLanguage">Secondary Language</span></dt>
        <dd>
            <span jhiTranslate="{{'niftyappApp.Language.' + employee.secondaryLanguage}}">{{employee.secondaryLanguage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-nifty/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button *ngIf="payslips" type="button"
            routerLink="/payslip-nifty"
            replaceUrl="true"
            class="btn btn-success">
        <span class="fa fa-th-list"></span>&nbsp;<span>Display Payslips</span>
    </button>

    <!--<button *ngIf="payslips" type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-nifty/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-success">
        <span class="fa fa-pencil"></span>&nbsp;<span>Generate Payslip</span>
    </button>-->
</div>
