<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeLabel" jhiTranslate="niftyappApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="employee.firstName" required />
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="employee.lastName" required />
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.employeeNumber" for="field_employeeNumber">Employee Number</label>
            <input type="text" class="form-control" name="employeeNumber" id="field_employeeNumber"
                [(ngModel)]="employee.employeeNumber" required minlength="5" maxlength="5" />
            <div [hidden]="!(editForm.controls.employeeNumber?.dirty && editForm.controls.employeeNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeNumber?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="employee.email" required minlength="5" maxlength="150" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="employee.phoneNumber" minlength="5" maxlength="12" />
            <div [hidden]="!(editForm.controls.phoneNumber?.dirty && editForm.controls.phoneNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phoneNumber?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phoneNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 12 }">
                   This field cannot be longer than 12 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="employee.startDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.terminationDate" for="field_terminationDate">Termination Date</label>
            <div class="input-group">
                <input id="field_terminationDate" type="text" class="form-control" name="terminationDate" ngbDatepicker  #terminationDateDp="ngbDatepicker" [(ngModel)]="employee.terminationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="terminationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.salary" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                [(ngModel)]="employee.salary" required min="0" />
            <div [hidden]="!(editForm.controls.salary?.dirty && editForm.controls.salary?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.salary?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.salary?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.salary?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.pensionContribution" for="field_pensionContribution">Pension Contribution</label>
            <input type="number" class="form-control" name="pensionContribution" id="field_pensionContribution"
                [(ngModel)]="employee.pensionContribution" required min="0" max="50" />
            <div [hidden]="!(editForm.controls.pensionContribution?.dirty && editForm.controls.pensionContribution?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pensionContribution?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.pensionContribution?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.pensionContribution?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 50 }">
                    This field cannot be more than 50.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.pensionContribution?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.primaryLanguage" for="field_primaryLanguage">Primary Language</label>
            <select class="form-control" name="primaryLanguage" [(ngModel)]="employee.primaryLanguage" id="field_primaryLanguage" >
                <option value="ENGLISH" jhiTranslate="niftyappApp.Language.ENGLISH">ENGLISH</option>
                <option value="AFRIKAANS" jhiTranslate="niftyappApp.Language.AFRIKAANS">AFRIKAANS</option>
                <option value="ZULU" jhiTranslate="niftyappApp.Language.ZULU">ZULU</option>
                <option value="XHOSA" jhiTranslate="niftyappApp.Language.XHOSA">XHOSA</option>
                <option value="SWATI" jhiTranslate="niftyappApp.Language.SWATI">SWATI</option>
                <option value="OTHER" jhiTranslate="niftyappApp.Language.OTHER">OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="niftyappApp.employee.secondaryLanguage" for="field_secondaryLanguage">Secondary Language</label>
            <select class="form-control" name="secondaryLanguage" [(ngModel)]="employee.secondaryLanguage" id="field_secondaryLanguage" >
                <option value="ENGLISH" jhiTranslate="niftyappApp.Language.ENGLISH">ENGLISH</option>
                <option value="AFRIKAANS" jhiTranslate="niftyappApp.Language.AFRIKAANS">AFRIKAANS</option>
                <option value="ZULU" jhiTranslate="niftyappApp.Language.ZULU">ZULU</option>
                <option value="XHOSA" jhiTranslate="niftyappApp.Language.XHOSA">XHOSA</option>
                <option value="SWATI" jhiTranslate="niftyappApp.Language.SWATI">SWATI</option>
                <option value="OTHER" jhiTranslate="niftyappApp.Language.OTHER">OTHER</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
