<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <!--<div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>-->
        </div>

        <p>
            Assumptions made in order to solve the technical exercise:
        </p>

        <ul>
            <li>That I could grasp AngularJS(4) quickly enough in order to make the UI elements perform as expected. (Some success and some failures)</li>
            <li>More validation would be added in a UI, Resource and Service layers for a PROD release. (There is some validation on the UI, Resource and Services layers)</li>
            <li>That the Unit tests would all be working as expected. (I seemed to have broken some in my meddling)</li>
        </ul>

        <p>
            Built using JHipster, with some bells and whistles!
        </p>
    </div>
</div>
